\
# Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# IDE-specific
.idea/
*.iml
*.ipr
*.iws
nbproject/
vscode/settings.json

# Misc
*.lock
*.log
